@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
/* Firefox */
*
{
    scrollbar-width: thin;
    scrollbar-color: #fff #000;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar
{
    width: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track
{
    border-radius: 5px;
    background-color: #000;
}

*::-webkit-scrollbar-track:hover
{
    background-color: #000;
}

*::-webkit-scrollbar-track:active
{
    background-color: #000;
}

*::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb:hover
{
    background-color: #fff;
}

*::-webkit-scrollbar-thumb:active
{
    background-color: #fff;
}

*
{
    font-family: 'Ubuntu Mono', monospace;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    text-align: center;

    scroll-behavior: smooth;
}

svg
{
    font-family: 'Russo One', sans-serif;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 25vh;
}

svg text
{
    -webkit-animation: stroke 4s;
            animation: stroke 4s;

    stroke-width: 2;
    stroke: #fff;
}
@media (min-width: 1090px)
{
    svg text
    {
        font-size: 12lvw;
    }
}
@media (max-width: 1080px)
{
    svg text
    {
        font-size: 10lvw;
    }
}

@-webkit-keyframes stroke
{
    0%
    {
        fill: rgba(0, 0, 0, 0);
        stroke: rgb(255, 255, 255);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70%
    {
        fill: rgba(0, 0, 0, 0);
        stroke: rgb(255, 255, 255);
    }
    80%
    {
        fill: rgba(0, 0, 0, 0);
        stroke: rgb(255, 255, 255);
        stroke-width: 3;
    }
    100%
    {
        fill: rgb(0, 0, 0);
        stroke: rgba(255, 255, 255, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

@keyframes stroke
{
    0%
    {
        fill: rgba(0, 0, 0, 0);
        stroke: rgb(255, 255, 255);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70%
    {
        fill: rgba(0, 0, 0, 0);
        stroke: rgb(255, 255, 255);
    }
    80%
    {
        fill: rgba(0, 0, 0, 0);
        stroke: rgb(255, 255, 255);
        stroke-width: 3;
    }
    100%
    {
        fill: rgb(0, 0, 0);
        stroke: rgba(255, 255, 255, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}
.wrapper
{
    background-color: #000;
}

body
{
    background: black;
}
body h1,
body p
{
    color: white;
}
body .nav
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 2vw;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (min-width: 1090px)
{
    body .nav .logo img
    {
        width: 5vw;
        height: 5vw;
        margin-bottom: .5vh;

        border-radius: 30px;
    }
}
@media (max-width: 1080px)
{
    body .nav .logo img
    {
        width: 10vw;
        height: 9.5vw;
        margin-bottom: .5vh;

        border-radius: 30px;
    }
}
body .russian,
body .english
{
    -webkit-transition: 2s;
            transition: 2s;

    opacity: 0;
}
@media (min-width: 1090px)
{
    body .btn
    {
        font-size: x-large;
        font-weight: 600;

        width: 25vw;
        height: 5vh;
        margin: 2vw;

        cursor: pointer;
        -webkit-transition: 650ms;
                transition: 650ms;

        color: white;
        border: 2px solid white;
        border-radius: 10px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: black;
    }
}
@media (max-width: 1080px)
{
    body .btn
    {
        font-size: x-large;
        font-weight: 600;

        width: 45vw;
        height: 10vh;
        margin: 3vw;

        cursor: pointer;
        -webkit-transition: 650ms;
                transition: 650ms;

        color: white;
        border: 2px solid white;
        border-radius: 10px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: black;
    }
}
body .btn:hover
{
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);

    color: black;
    background: white;
}
body .animation
{
    -webkit-transition: 2s;
            transition: 2s;

    opacity: 0;
}
body .header
{
    width: 85vw;
    margin: 0 auto;
    padding: 10px;

    text-align: justify;
    text-align: justify;

    border: 2px solid white;
    border-radius: 10px;
}
body .header p
{
    font-size: xx-large;
    font-weight: 600;
}
body .projects-list
{
    width: 85vw;
    margin: 0 auto;
    padding: 25px;
    padding: 10px;

    border: 2px solid white;
    border-radius: 10px;
}
body .projects-list p
{
    font-size: xx-large;
    font-weight: 600;
}
body .footer
{
    width: 85vw;
    margin: 0 auto;
    padding: 25px;
    padding: 10px;

    border: 2px solid white;
    border-radius: 10px;
}
body .footer p
{
    font-size: x-large;
    font-weight: 600;
}
body .visible
{
    opacity: 1;
}

::selection
{
    color: black;
    background-color: white;
}
